.whatwouldyoudo{
    font-family: Oswald, sans-serif;
    font-weight: 400;
    color: white;
    background-color: #B095C4;
    padding: 0px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.billandid {
     display: flex;
     align-items: center;
     justify-content: center;
     padding-top: 20px;
     font-weight: 600;
     
     span.billnumber {
        font-weight: 200;
     }
     
}

.tagDescriptions {
     font-family: Oswald, sans-serif;
     font-weight: 400;
     font-size: 0.8em;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
     padding-top: 5px;
     padding-bottom: 30px;
     text-transform: uppercase;
}

.dynamic {
    color: rgba(0,0,0,0.5);
    font-weight: 600;
}

.dynamicFailed {
    color: #8B2530;
    font-weight: 600;
}

.dynamicPassed {
    color: #006729;
    font-weight: 600;
}

.dynamicTie {
    color: rgba(0,0,0,0.5);
    font-weight: 600;
}

.dynamicNo {
    color: #8B2530;
    font-weight: 600;
}

.dynamicYe {
    color: #006729;
    font-weight: 600;
}

.dynamicDi {
    color: rgba(0,0,0,0.5);
    font-weight: 600;
}

.billTags {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
        
    .active {
        font-weight: 600;
    }
    
    div {
        margin: 4px;
        color: black;
        font-family: Oswald, sans-serif;
        font-weight: 200;
        font-size: 0.9em;
        padding: 0px 5px;
    }
}

.billTabs {

    .active {
    background-color: rgba(0,0,0,0.1);
    color: black;
    }

    ul{
        display: flex;
        flex-direction: row;
        width: 100%;
        list-style: none;
    }
    
    li {
        font-family: Oswald, sans-serif;
        font-weight: 200;
        text-transform: uppercase;
        background: white;
        padding: 0px 10px;
        text-align: left;
        color: black;
        cursor: pointer;
    }
    
    li:hover, li:focus{
        background: rgba(0,0,0,0.1); 
        color: black;
    }

    table {
        padding: 20px 10px;
    }
    
    table td div {
        text-align: left !important;
        font-size: 14px;
    }
    
    td {
        display: block;
        padding: 0 10px;
    }
    
    td:first-child, td:nth-child(2), td:nth-child(3), .change_bar_begin {
        display: none;
    }
}

.billTabs p, .voteCompare p {
  color: black; 
  text-align: left;
  padding: 10px;
}

.box-wrap {
    min-height: 70px; 
    font-family: Arimo;
    background-color: rgba(0,0,0,0.1);
    font-size: 1.2em;
}
  
.chartContainer {
    width: 100%;
    display: flex;
    height: 25vh;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}  

.countryAndNeighboursComparison {
    width: 50%;
}

canvas.bigD {
    width: 50% !important;
    height: 50% !important;
    display: block;
    margin: 0 auto;
}

canvas.littleD {
    height: 25% !important;
    width: 25% !important;
    display: block;
    margin: 0 auto;
    margin-top: -37.5%;
}


.votingAndSharingActions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    width: 100%;
    position: fixed;
    cursor: pointer;
    bottom: 0; //align it to the bottom and dont push it up
    //bottom: 10px; //align it to the bottom and push it up 1px

    
    .redbutton, .greenbutton, .redbutton-clicked, .greenbutton-clicked {
        padding: 10px;
        max-width: 63px;
        width: 50%;
        height: 100px;
        background: no-repeat center;
        background-size: contain;
    }
    
    .redbutton {
        background-image: url("../../images/redButton.png");
    }
    
    .greenbutton-clicked {
        background-image: url("../../images/greenButtonPressed.png");
    }
    
    .redbutton-clicked {
        background-image: url("../../images/redButtonPressed.png");
    }
    
    .share {
        display: flex;
        justify-content: center;
        //margin: 0px 20px; //top and bottom 0px, left and right 20px
    }
    
    .greenbutton {
        background-image: url("../../images/greenButton.png");
    }
    
    .greenButton-clicked {
        background-image: url("../../images/greenButtonPressed.png");
    }
}


.countryYes {
background-color: #006729
}

.countryNo {
background-color: #8B2530
}

.neighboursYes {
background-color: #4EA32A
}

.neighboursNo { 
background-color: #D56500
}



