.whatwouldyoudo{
    font-family: Oswald, sans-serif;
    font-weight: 400;
    color: white;
    background-color: #B095C4;
    padding: 0px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.repName {
    p {
        margin: 10px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        line-height: normal;
        font-size: 0.9em;
        padding: 6px 0px;
        text-align: center;
    }
}

.billTags {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
        
        div {
        margin: 4px;
        }
    
        a {
        font-family: Oswald, sans-serif;
        color: black;
        font-weight: 200;
        font-size: 0.8em;
        border-radius: 2px;
        text-decoration: none;
        }
        
}

.infoFooter {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    padding: 15px;
    border-top: 1px solid #ccc;
    
}

.color-result{
    display: flex;
    text-transform: uppercase;

    span {
    font-size: 1.1em;
    }
    
    .resultFailed {
    color: #8B2530;
    font-size: 1.1em;
    font-weight: 400;
    }

    .resultPassed {
    color: #006729;
    font-size: 1.1em;
    font-weight: 400;
    }

    .resultTie {
    color: rgba(0,0,0,0.5);
    font-size: 1.1em;
    font-weight: 400;
    }
}

.searchbox {
    font-family: Arimo, sans-serif;
    outline: none;
    height: 1.5rem;
    font-size: 1rem;
    margin-top: 10px;
    padding: 0;
    transition: all 0.3s;
    display: flex;
    justify-content: space-around;
    
        input[type=text] {
        border-radius: 15px;
        text-align: center;
        width: 300px;
        height: 100%;
        padding: 0;
        box-shadow: none;
        font-family: Arimo;
        font-size: 0.8em;
        padding-left: 15px;
        padding-right: 15px;
        box-shadow: inset 0px 0px 4px rgba(0,0,0,0.3);
        }
    
        input, select, textarea {
        font: inherit;
        margin: 0;
        border: 0px;
        }
}

.resultFailed {
    color: #8B2530;
    font-weight: 400;
}

.resultPassed {
    color: #006729;
    font-weight: 400;
}

.resultTie {
    color: rgba(0,0,0,0.5);
    font-weight: 400;
}

.billList {
 margin-left: 10px;
 list-style: none;
 margin-bottom: 60px;
        ul, li {
        list-style: none;
        }
        
        h4 {
        font-family: Arimo, sans-serif;
        font-size: 0.8em;
        font-weight: 100;
        margin-bottom: 20px;
        list-style: none;
        }
        
        h2 {
        font-family: Oswald, sans-serif;
        font-size: 0.9em;
        font-weight: 200;
        list-style: none;
        }
        a {
            color: rgb(85, 85, 85);
        }
}

@media only screen and (max-width: 345px) {
    .billList {
        margin-bottom: 70px;
    }
}