.whatwouldyoudo{
    font-family: Oswald, sans-serif;
    font-weight: 400;
    text-align: center;
    color: white;
    background-color: #B095C4;
    padding: 10px, 10px, 10px, 10px;
    text-transform: uppercase;
}

.billandid {
     display: flex;
}

.billTags {
    display: flex;
        padding: 3px, 3px, 3px, 3px;

}

.billTag {
    font-family: Oswald, sans-serif;
    font-weight: 400;
    font-size: 0.5em;
    color: white;
    background-color: rgba(0,0,0,0.5);
    text-transform: uppercase;
}

.billTabs {

}

.bill__p {
  color: white; 
  text-align: justify;
  margin: 0px 20px 20px 20px;
  
}


.bill__li {
    
}

.bill__a {

}




.tabs { 
    list-style: none; 
     display: flex;
     flex-direction: row-reverse;
}

.tabs li { 
    display: inline; 
}

.tabs li a { 
    color: white; 
    float: left; 
    display: block; 
    padding: 4px 10px; 
    margin-left: -1px; 
    position: relative; 
    left: 1px; 
    background: #B095C3;
    text-decoration: none; }

.tabs li a:hover { 
    background: #ccc; 
}

.box-wrap {
    min-height: 70px; 
    font-family: Arimo;
    background-color: #B095C3;
}
    



.vottingButtons {
    display: flex;
    justify-content: space-around;
}

.redbutton {
    padding: 10px, 10px, 10px, 10px;
    max-width: 100px;
}

.greenbutton {
    padding: 10px, 10px, 10px, 10px;
    max-width: 100px;
}

.share {
    max-width: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.leftarrow {
    max-width: 30px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 20px;
    justify-content: bottom;
}

.rightarrow {
    max-width: 30px;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 20px;
    justify-content: bottom;
}