.comparePage {
    p {
        margin: 15px;
    }
}


.compareHeading{
    font-family: Oswald, sans-serif;
    font-weight: 400;
    color: white;
    background-color: #2D81CF;
    padding: 0px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-align: center;
}




.compareTags {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
        
         div {
        margin: 4px;
        color: black;
        font-family: Oswald, sans-serif;
        font-weight: 200;
        font-size: 0.8em;
        background: none;
        box-shadow: none;
        border-radius: 2px;
        padding: 0px 5px;
        }
    
        a {
        font-family: Oswald, sans-serif;
        color: black;
        font-weight: 200;
        font-size: 0.9em;
        border-radius: 2px;
        text-decoration: none;
        }
        
}


