.compareInfo {
    
}


.compareHeading{
    font-family: Oswald, sans-serif;
    font-weight: 400;
    color: white;
    background-color: #2D81CF;
    padding: 0px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-align: center;
}