.comparePage {
    p {
        margin: 0px 15px 15px 15px;
        text-align: center;
    }
    
    h2 {
        text-align: center;
    }
}


.compareHeading{
    font-family: Oswald, sans-serif;
    font-weight: 400;
    color: white;
    background-color: #2D81CF;
    padding: 0px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.compareMatch {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    

        img {
            width: 100px;
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }
        
        div {
            text-align: -webkit-center;
            flex: 1;
            padding: 0px 15px;
        }
        
        h2 {
            font-size: 0.9em;
        }
        
        p {
            font-size: 0.8em;
            margin: 0px;
        }
}

.share {
    display: flex;
}
