
.whatTheyreDoingHeading {
    font-family: Oswald, sans-serif;
    font-weight: 400;
    color: white;
    background-color: #8675B3;
    padding: 0px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-align: center;
}




.searchbox {
    font-family: Arimo, sans-serif;
    outline: none;
    height: 1.5rem;
    font-size: 1rem;
    margin-top: 10px;
    padding: 0;
    transition: all 0.3s;
    display: flex;
    justify-content: space-around;
    
        input[type=text] {
        border-radius: 15px;
        text-align: center;
        width: 300px;
        height: 100%;
        padding: 0;
        box-shadow: none;
        font-family: Arimo;
        font-size: 0.8em;
        padding-left: 15px;
        padding-right: 15px;
        box-shadow: inset 0px 0px 4px rgba(0,0,0,0.3);
        }
    
        input, select, textarea {
        font: inherit;
        margin: 0;
        border: 0px;
        }
}


.feedList {
 margin: 10px;
 list-style: none;
 
        ul, li {
        list-style: none;
        }
        
        h4 {
        font-family: Arimo, sans-serif;
        font-size: 0.8em;
        font-weight: 100;
        margin-bottom: 20px;
        list-style: none;
        }
        
        h2 {
        font-family: Oswald, sans-serif;
        font-size: 0.9em;
        font-weight: 200;
        list-style: none;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 15px;
        }
     
        
        p {
            margin-bottom: 10px;
        }
}

