.formHead {
  
}

.formTitle {
  
}

.formPage {
    display: flex;
    flex-direction: column;
    
        p {
            margin-left: 15px;
            margin-right: 15px;
            text-align: -webkit-center;
             -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 0.3;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 0.2s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.2s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.2s;
        }
        
        .disclaimerText {
        font-family: Arimo;
        font-size: 0.9em;
        margin: 0.5em;
        line-height: 1.2em;
        max-width: 70%;
        min-width: 70%;
        }
}


.formEntryFields {
    display: flex;
    flex-direction: column;
    font-family: Arimo;
    outline: none;
    font-size: 1rem;
    align-items: center;

    input[type=text], input[type=password] {
        border-radius: 10px 10px 10px 10px;
        margin: 0.5em;
        max-width: 60%;
        min-width: 50%;
        box-shadow: none;
        font-size: 0.8em;
        padding: 0.5em;
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.3);
        border: 1px solid #ccc;
        text-align: -webkit-center;
        font-family: Oswald;
        font-weight: 200;
    }
    input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      text-transform: uppercase;
    }
    input::-moz-placeholder { /* Firefox 19+ */
      text-transform: uppercase;
    }
    input:-ms-input-placeholder { /* IE 10+ */
      text-transform: uppercase;
    }
    input:-moz-placeholder { /* Firefox 18- */
      text-transform: uppercase;
    }
}

.formButton {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: Oswald, sans-serif;
    height: 100%;
    width: 100%;
    font-size: 1.4em;
    padding: 3px;
    text-transform: uppercase;
}