.formHead {
  
}

.formTitle {
  
}

.formPage {
    display: flex;
    flex-direction: column;
    
        p {
            margin-left: 15px;
            margin-right: 15px;
        }
}


.formEntryFields {
    display: flex;
    flex-direction: column;
    font-family: Arimo;
    outline: none;
    font-size: 1rem;

     input[type=text] {
    border-radius: 15px 15px 15px 15px;
    margin: 10px; 
    box-shadow: none;
    font-size: 0.8em;
    padding: 15px;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.3);
}
}

.formButton {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: Oswald, sans-serif;
    height: 100%;
    font-size: 1.4em;
    padding: 3px;
    text-transform: uppercase;
}