.specialh1 {
        font-family: Oswald, sans-serif;
        font-weight: medium;
        font-size: 1.5em;
}

.postcodebutton {
    background-color: #44A487;
    color: white;
    font-family: Oswald, sans-serif;
    border-radius: 0px 10px 10px 0px;

}

.postcodeinput {
    border-bottom: 1px solid #9e9e9e;
    border-radius: 20px 0px 0px 20px;
    outline: none;
    height: 3rem;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    transition: all 0.3s;
    display: inline-block;
}


.postcodeinputandentry {
    
}