
.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro {
    flex: 1 1 0;
    max-width: 90%;
    text-align: center;
    /* Should be equivalent to: */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex-basis: 0; */
    p {
        font-size: 1.0em;
    }
    h1 {
        font-size: 1.6em;
        font-weight: 400;
    }
}


.canadamap {
    max-width: 90%;
    height: auto;
    margin-top: 20px;
}

.citizenlogo {
    position: relative;
    max-width: 30%;
    height: auto;
    margin-bottom: 20px;
    
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 0.7s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.7s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.7s;
}
@-moz-keyframes dropHeader {
    0% {
        -moz-transform: scale(0.5);
    }
    100% {
        -moz-transform: scale(1.0);
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1.0);
    }
}
@keyframes dropHeader {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1.0);
    }
}



.postcodeinputandentry {
    display: flex;
    height: 1.5em;
}


.postcodeinput {
    border-radius: 20px 0px 0px 20px;
    font-family: Arimo;
    outline: none;
    height: 2rem;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    display: inline-block;
}

input[type=text] {
    border-radius: 15px 0px 0px 20px;
    height: 100%;
    padding: 0;
    box-shadow: none;
    font-family: Arimo;
    font-size: 0.8em;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.3);
}

button, input, select, textarea {
    font: inherit;
    margin: 0;
    border: 0px;
}

.postcodebutton {
    background-color: rgba(0,0,0,0.5);
    color: white;
    font-family: Oswald, sans-serif;
    height: 100%;
    font-size: 0.8em;
    padding: 3px;
}

