
.main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    flex: 1 1 0;
    max-width: 90%;
    /* Should be equivalent to: */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
    /* flex-basis: 0; */
}


.citizenlogo {
    position: relative;
    max-width: 30%;
    height: auto;
    
    -moz-animation-name: dropHeader;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 0.7s;

    -webkit-animation-name: dropHeader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.7s;

    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.7s;
}
@-moz-keyframes dropHeader {
    0% {
        -moz-transform: scale(0.5);
    }
    100% {
        -moz-transform: scale(1.0);
    }
}
@-webkit-keyframes dropHeader {
    0% {
        -webkit-transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1.0);
    }
}
@keyframes dropHeader {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1.0);
    }
}



.specialh1 {
        font-family: Oswald, sans-serif;
        font-weight: medium;
        font-size: 1.7em;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    font-size: 1.2em;
}

.postcodeinputandentry {
    height: 1.5em;
}


.postcodeinput {
    border-radius: 20px 0px 0px 20px;
    font-family: Arimo;
    outline: none;
    height: 2rem;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
    display: inline-block;
}

input[type=text] {
    border-radius: 20px 0px 0px 20px;
    height: 100%;
    padding: 0;
    box-shadow: none;
    font-family: Arimo;
    font-size: 0.8em;
    padding-left: 15px;
    padding-right: 15px;
}


.postcodebutton {
    background-color: #44A487;
    border: 1px solid #44A487;
    color: white;
    font-family: Oswald, sans-serif;
    height: 100%;
    font-size: 0.8em;
}

.canadamap {
    max-width: 90%;
    height: auto;
    margin-top: 20px;
}