//FOR HAMBURGER MENU

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

header {
    display: flex;
    flex-direction: row-reverse;
}

html, body {
  height: 100%;
}

body {
  font: 1em 'Roboto', sans-serif;
  color: #555;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


nav {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
  
    ul {
    font-family: Oswald, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    list-style: none;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    left: -275px;
    }
  
    a {
    display: block;
    padding: 10px;
    padding-right: 0 !important; /* important overrides media queries */
    font-size: 13px;
    font-weight: 400;
    text-align: right;
    color: #aaa;
    cursor: pointer;
    text-decoration: none;
    }
  
    a:hover, a:focus {
    color: black;
    }
  
    li {
    float: left;
    width: 20%;
    border-right: 1px solid #ddd;
    }
  
    li:last-child {
    border-right: none;
  }

}




@media only screen and (max-width: 767px) {
  
  .hamburger {
    padding: 15px;
    display: block;
  }
  
  nav {
    border-top: none;
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0);
    width: 65px;
    
      ul {
      border-left: none;
      border-right: none;
    }
    
    li {
    width: 100%;
    border-right: none;
    }
}


  .line {
    border-bottom: 4px solid #bbb;
    width: 35px;
    margin-bottom: 6px;
  }
  
  .line:last-child {
    margin-bottom: 0;
  }


  .menu {
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
    width: 325px;
  }
  
  
  .slide-down {
    height: 320px;
  }
}