.backArrow {
    position: fixed;
    top: 0px;
    left: 0px;
    padding-left: 10px;
    padding-top: 15px;
}

.backityArrow {
    position: fixed;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 25px 11px 0;
    border-color: transparent rgba(0,0,0,0.2) transparent;
}

.backityArrow:onClick {
    border-color: transparent rgba(0,0,0,0.9) transparent;
}
//FOR HAMBURGER MENU

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

header {
    display: flex;
    flex-direction: row-reverse;
}

html, body {
  height: 100%;
}

body {
  font: 1em 'Roboto', sans-serif;
  color: #555;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


nav {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
  
    ul {
    font-family: Oswald, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    list-style: none;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    }
  
    a {
    display: block;
    padding: 10px;
    font-size: 13px;
    font-weight: 400;
    text-align: right;
    color: #aaa;
    cursor: pointer;
    text-decoration: none;
    }
  
    a:hover, a:focus {
    }
  
    li {
    float: left;
    width: 20%;
    border-right: 1px solid #ddd;
    }
  
    li:last-child {
    border-right: none;
  }

}




@media only screen and (max-width: 767px) {
  
  .hamburger {
    padding: 15px;
    display: block;
  }
  
  .hamburgerDiv {
    display: flex;
    justify-content: flex-end;
  }
  
  nav {
    border-top: none;
    border-bottom: none;
    width: 100%;
    background-color: white;
    
            .active {
                font-weight: 600;
            }
    
              ul {
              border-left: none;
              border-right: none;
            }
            
            li {
            width: 100%;
            border-right: none;
            }
}


  .line {
    border-bottom: 3px solid #bbb;
    width: 30px;
    margin-bottom: 5px;
  }
  
  .line:last-child {
    margin-bottom: 0;
  }


  .menu {
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
    background-color: white;
  }
  
  
  .slide-down {
    height: 400px;
  }
  
    .slide-up {
    height: 0px;
  }
}

.whatWouldYouDoMenu {
  background-color: #B095C4;
  color: white;
}

.whatTheyreDoingMenu {
  background-color: #8675B3;
  color: white;
}

.petitionsMenu {
  background-color: #44A487;
  color: white;
}

.compareMenu {
  background-color: #2D81CF;
  color: white;
}

.home:active {
  color: black;
}