.yourRepresentativeMenu {
  background-color: rgba(0,0,0,0.5);
  color: white;
}

.whatWouldYouDoMenu {
  background-color: #B095C4;
  color: white;
}

.whatTheyreDoingMenu {
  background-color: #8675B3;
  color: white;
}

.petitionsMenu {
  background-color: #44A487;
  color: white;
}

.compareMenu {
  background-color: #2D81CF;
  color: white;
}

.home:active {
  color: black;
}