.top-message {
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    color: white;
    max-width: 300px;
    font-size: 2em;
    padding: 45px;
    top: 50%;
    z-index: 1;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}