.petitionHeading{
    font-family: Oswald, sans-serif;
    font-weight: 400;
    color: white;
    background-color: #44A487;
    padding: 0px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.petitionandid {
     display: flex;
     align-items: center;
     justify-content: center;
     padding-top: 20px;
     font-weight: 600;
     
     span.petitionnumber {
        font-weight: 200;
     }
     
}

.petitionTagDescriptions {
     font-family: Oswald, sans-serif;
     font-weight: 400;
     font-size: 0.8em;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
     padding-top: 5px;
     padding-bottom: 10px;
     text-transform: uppercase;
     text-align: center;
}

.dynamic {
    color: rgba(0,0,0,0.5);
    font-weight: 600;
}

.dynamicFailed {
    color: #8B2530;
    font-weight: 600;
}

.dynamicPassed {
    color: #006729;
    font-weight: 600;
}

.dynamicTie {
    color: rgba(0,0,0,0.5);
    font-weight: 600;
}

.dynamicNo {
    color: #8B2530;
    font-weight: 600;
}

.dynamicYe {
    color: #006729;
    font-weight: 600;
}

.dynamicDi {
    color: rgba(0,0,0,0.5);
    font-weight: 600;
}

.petitionTags {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
        
 
        
             .active {
                font-weight: 600;
            }
    
        div {
        margin: 4px;
        color: black;
        font-family: Oswald, sans-serif;
        font-weight: 200;
        font-size: 0.9em;
        padding: 0px 5px;
        
        
        
        }
}

.petitionTabs {

    .active {
    background-color: rgba(0,0,0,0.1);
    color: black;
    }

    ul{
        display: flex;
        flex-direction: row;
        width: 100%;
        list-style: none;
    }
    
    li {
        font-family: Oswald, sans-serif;
        font-weight: 200;
        text-transform: uppercase;
        background: white;
        padding: 0px 10px;
        text-align: left;
        color: black;
        cursor: pointer;
    }
    
    li:hover, li:focus{
        background: rgba(0,0,0,0.1); 
        color: black;
    }

}

.petitionTabs p, .voteCompare p {
  color: black; 
  text-align: left;
  padding: 10px;
}

.box-wrap {
    min-height: 70px; 
    font-family: Arimo;
    background-color: rgba(0,0,0,0.1);
    font-size: 1.2em;
}




/////PETITION DOUGHNUT////

.petitionYes {
color: #006729
}

.petitionNo {
color: #8B2530
}

.petitionGrey {
color: rgba(0,0,0,0.5)
}

 
.petitionChartContainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin-top: 10px;
}  

.petitionVoteComparison {
    width: 50%;
}

canvas.petitionDoughnut {
    width: 50% !important;
    height: 50% !important;
    display: block;
    margin: 0 auto;
}






