.petitions-heading{
    font-family: Oswald, sans-serif;
    font-weight: 400;
    color: white;
    background-color: #44A487;
    padding: 10px, 10px, 10px, 10px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.petitionandid{
     display: flex;
     align-items: center;
     justify-content: center;
}

.daysLeftAndNumber{
     display: flex;
     font-family: Oswald, sans-serif;
     font-weight: 400;
     font-size: 0.8em;
     align-items: center;
     justify-content: center;
     padding-top: 25px;
     padding-bottom: 25px;
     text-transform: uppercase;
     
}



.petitionTags {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    
    div {
            margin: 7px;
            background-color: rgba(0,0,0,0.6);
            color: white;
            font-family: Oswald, sans-serif;
            font-weight: 400;
            font-size: 0.9em;
    }
}

.petitionTabs {
    
    .active {
    background-color: rgba(0,0,0,0.6);
    color: white;
    }

    ul{
        display: flex;
        flex-direction: row;
        width: 100%;
        list-style: none;
    }
    
    li {
        font-family: Oswald, sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        background: white;
        padding: 4px 10px;
        flex-grow: 1;
        text-align: left;
        color: black;
        cursor: pointer;
    }
    
    li:hover, li:focus{
        background: rgba(0,0,0,0.6); 
        color: white;
    }

}

.petitionTabs p, .pollCompare p {
  color: white; 
  text-align: justify;
  padding: 10px;
}

.box-wrap {
    min-height: 70px; 
    font-family: Arimo;
    background-color: rgba(0,0,0,0.6);
}
    

.pollingButtons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: white;
    width: 100%;
    position: fixed;
    bottom: 0; //align it to the bottom and dont push it up
    //bottom: 10px; //align it to the bottom and push it up 1px

    
    .redhand, .greenhand {
        padding: 10px;
        max-width: 100px;
    }
    
    .share {
        max-width: 50px;
        //margin: 0px 20px; //top and bottom 0px, left and right 20px
    }
    
    .leftarrow, .rightarrow {
        max-width: 30px;
    }
}


