.petitionsHeading{
    font-family: Oswald, sans-serif;
    font-weight: 400;
    color: white;
    background-color: #44A487;
    padding: 0px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.petitionVotesComparison {
    width: 50%;
}


.petitionTags {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 15px;
        
     div {
        margin: 4px;
        color: black;
        font-family: Oswald, sans-serif;
        font-weight: 200;
        font-size: 0.8em;
        background: none;
        box-shadow: none;
        border-radius: 2px;
        padding: 0px 5px;
    }
    
    a {
        font-family: Oswald, sans-serif;
        color: black;
        font-weight: 200;
        font-size: 0.9em;
        border-radius: 2px;
        text-decoration: none;
    }
}

.petitionList {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 0.9em;
    
    a {
        color: #2D81CF;
    }
 
    h4 {
        font-weight: 100;
        font-family: Oswald, sans-serif;
        text-transform: uppercase;
        font-size: 14.5px;
    }
        
    h5 {
        font-weight: 100;
        margin-bottom: 20px;
        font-size: 13px;
        font-family: Arimo, sans-serif;
        color: rgb(85, 85, 85);
        
        b {
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}

.searchbox {
    font-family: Arimo, sans-serif;
    outline: none;
    height: 1.5rem;
    font-size: 1rem;
    margin-top: 10px;
    padding: 0;
    transition: all 0.3s;
    display: flex;
    justify-content: space-around;
    
        input[type=text] {
        border-radius: 15px;
        text-align: center;
        width: 300px;
        height: 100%;
        padding: 0;
        box-shadow: none;
        font-family: Arimo;
        font-size: 0.8em;
        padding-left: 15px;
        padding-right: 15px;
        box-shadow: inset 0px 0px 4px rgba(0,0,0,0.3);
        }
    
        input, select, textarea {
        font: inherit;
        margin: 0;
        border: 0px;
        }
}




.addPetition {
    border-radius: 50%;
    background-color: #44A487;
    color: white;
    display: flex;
    justify-content: space-around;
    width: 50px;
    height: 50px;
    font-family: Oswald, sans-serif;
    font-weight: 400;
    font-size: 2.2em;
    margin-bottom: 20px;
    
    :hover{
        background-color: rgba(0,0,0,0.5);
    }
}