.bottomMenu-item {
    font-family: Oswald;
    width: 20vw;
    color: white;
    margin: 0 auto;
    height: 20vw;
    font-size: 4vw;
    text-align: left;
}



.bottomMenu-item a {
    color: white;
}



.compare {
    background-color: #2D81CF;

}

.petitions {
    background-color: #44A487;
}

.feed {
    background-color: #B095C4;
}

.bills {
    background-color: #8675B3;
}

.card-panel {
padding: 3px;
}
