.compare {
    background-color: #2D81CF;
    font-family: Oswald;
}

.petitions {
    background-color: #44A487;
}

.feed {
    background-color: #B095C4;
}

.bills {
    background-color: #8675B3;
}

