
.rep-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.rep-info {
    display: flex;
}

.rep-pic {
    max-width: 25%;
    margin-left: 10px;
    margin-right: 10px;
}

.rep-text {
    margin-left: 5px;
     h2 {
         font-weight: 200;
     }
}

.rep-stats-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    img {
    max-width: 30px;
    margin-top: 20px;
    }
}

.agreement {
    flex-basis: 100%;
    padding-top: 5px;
    background-color: rgba(0,0,0,0.1);

    h2 {
        font-size: 1.0em;
        font-weight: 400;
    }
}

.intheirvoting {
    flex-basis: 100%;
    padding-bottom: 5px;
    background-color: rgba(0,0,0,0.1);

        h2 {
        font-size: 1.0em;
        font-weight: 400;
    }
}

.you, .neighbours {
    
    h1 {
    font-family: Oswald;
    font-size: 3.0em;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 10px;
    }
    
    h2 {
    font-family: Oswald;
    font-size: 0.9em;
    }
}

.repstatsbackgroundcolor {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    background: rgba(0,0,0,0.1);
    padding: 17px;
}

.bottomMenu-item {
    font-family: Oswald;
    width: 22vw;
    color: white;
    font-weight: 400;
    margin: 0 auto;
    height: 24vw;
    font-size: 4vw;
    text-align: left;
    padding: 6px;
    border-bottom: 6px solid white;
    border-radius: 2px;
}


.bottomMenu-item a {
    color: white;
    text-decoration: none;
}



.compare {
    background-color: #2D81CF;

}

.petitions {
    background-color: #44A487;
}

.feed {
    background-color: #B095C4;
}

.bills {
    background-color: #8675B3;
}

img {
    max-width: 100%;
}


#seperator {
    background: #34495E;
    height: 10px;
    left: 0; right: 0;
}

.down {
   width: 100%;
 }

.down:after {
   content: '';
   display: block;
   margin: 0 auto;
   width: 0px;
   height: 0px;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
   border-top: 20px solid rgba(0,0,0,0.1);
}