@import 'reset';


/* Global --------------------------------------------------------------- */
html, body {
  height: 100%;
  min-height: 100%;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  color: #555;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
	box-sizing: border-box;	
}

.layout {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #fafafa;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 100px;
}

.scrollable-content {
  flex: 1 1 auto;
  overflow-y: scroll;
}


//Helper classes
.one-line-spread {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.opacity {
  opacity: .85;
}

.wrapper-w-header {
  margin-top: 27%;
}

//Colors
.dark-grey-bg-color {
  background-color: #666;
}

.light-grey-bg-color {
  background-color: #e9e9e9;
}

.white-bg-color {
  background-color: #fff;
}

.dark-red-color {
  color: #820110;
}

.red-color {
  color: #F00;
}

.reddish-color {
  color: #f47d42;
}

.green-color {
  color: #00700b;
}


//Section
.white-bg-section {
  background-color: #fff;
  padding: 5px;
}

//Main headings ('About', 'Bill', 'Petition', 'Start New Petition')//
h1 {
  font-weight: 800;
  font-size: 1.3em;
  text-align: center;
  color: black;
  margin: 0px;
}

//Second level headings//
h2 {
  font-weight: 200;
  font-size: 1.3em;
  text-align: left;
  margin-top: 4%;
  color: black;
}

//Descriptions under the headings for each page//
h3 {
  font-family: Arimo, sans-serif;
  font-size: 90%;
  text-align: center;
  text-transform: initial;
}

//list titles//
h4 {
  font-weight: 200;
  font-size: 0.8em;
  margin: 0;
}

//list descriptions, blue///
h5 {
  font-family: Arimo, sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  color: #2D81CF;
  text-transform: initial;
  margin: 0 0 15px;
}


p {
  margin: 0;
  font-family: Arimo, sans-serif;
  font-size: 0.9em;
  text-transform: initial;
}

li {
  text-decoration: none;
}

ul {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}


//Voting indicators
.voting-indicators {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 2.5rem;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
  
  .redbutton, 
  .greenbutton, 
  .redbutton-clicked, 
  .greenbutton-clicked,
  .inactive-button {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .redbutton,
  .redbutton-clicked {
    background-color: #8B2530;
  }
  
  .greenbutton, 
  .greenbutton-clicked {
    background-color: #006729;
  }
  
  .inactive-button {
    background-color: #808080;
  }
}


@media only screen and (max-width: 345px) {
  h3 {
    font-size: 80%;
  }
}

////COLORS////

.rep, 
.resultTie {
  background-color: #778899;
}

.feed {
  background-color: #8675B3;
}

.compare {
  background-color: #B095C4;
}

.petitions {
  background-color: #44A487;
}

.stats {
  background-color: #2D81CF;
}

.resultFailed, 
.dynamicFailed, 
.dynamicNo,
.resultPassed, 
.dynamicPassed, 
.dynamicYe,
.dynamic, 
.dynamicTie, 
.dynamicDi {
  color: #fff;
  font-weight: 400;
  width: 100%;
  text-align: center;
  padding: 3px 0px;
}

.resultFailed, 
.dynamicFailed, 
.dynamicNo {
  background-color: #8B2530;
}

.resultPassed, 
.dynamicPassed, 
.dynamicYe {
  background-color: #006729;
}

.dynamic, 
.dynamicTie, 
.dynamicDi {
  background-color: #778899;
}

.partyLib,
.partyCon,
.partyNDP,
.partyBlo,
.partyGre {
  font-size: .9rem;
  color: #fff;
  width: fit-content;
  padding: 2px 7px;
  border-radius: 2px;
  font-weight: 400;
  margin: 3px 0;
  text-align: center;
}

.partyLib {
  background-color: #EE262E;
}

.partyCon{
  background-color: #0C499C;
}

.partyNDP {
  background-color: #F6821F;
}

.partyBlo {
  background-color: #00AEEF;
}

.partyGre{
  background-color: #75C321;
}


@media only screen and (max-width: 767px) {
  
  .menu {
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
    background-color: white;
  }
}


//////LOGIN////
.login-page {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 30px;
  z-index: 2;
}

.bg-image {
  display: block;
  margin: auto;
  opacity: .5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
}

.intro {
  max-width: 90%;
  text-align: center;
  
  h1 {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.canadamap {
  max-width: 80%;
  height: auto;
  margin-top: 1em;
}

.citizenlogo {
  position: relative;
  max-width: 20%;
  height: auto;
  margin-bottom: 1em;
  margin-top: 1em;
  z-index: 5;
  
  -moz-animation-name: dropHeader;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
  -moz-animation-duration: 0.7s;
  
  -webkit-animation-name: dropHeader;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 0.7s;
  
  animation-name: dropHeader;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.7s;
}
@-moz-keyframes dropHeader {
  0% {
    -moz-transform: scale(0.5);
  }
  100% {
    -moz-transform: scale(1.0);
  }
}
@-webkit-keyframes dropHeader {
  0% {
    -webkit-transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1.0);
  }
}
@keyframes dropHeader {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.0);
  }
}

.postcodeinputandentry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  
  input {
    display: inline-block;
    outline: none;
    margin: 0;
    border: 0;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
    font-family: Arimo;
    font-size: 0.8em;
    -moz-box-shadow:    inset 0 0 4px #c4c4c4;
    -webkit-box-shadow: inset 0 0 4px #c4c4c4;
    box-shadow:         inset 0 0 4px #c4c4c4;
  }
    
  .login-field,
  .postcodebutton {
    height: 3.5rem;
    width: 100%;
  }
  
  .postcodebutton {
    background-color: #778899;
    color: white;
    font-family: Oswald, sans-serif;
    font-size: 0.8em;
    border: none;
    margin: 0;
  }
}


////REP////
.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
  
  .top-h2, 
  .sub-h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
  }
  
  .top-h2 {
    font-size: 2.2rem;
    font-weight: 500;
  }
  
  .sub-h2 {
    font-size: 1.3rem;
    font-weight: 200;
    margin-top: 0;
  }

  .round-image {
    width: 100px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center right;
  }
}

.hansard-statement-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  
  .hansard-content {
    width: 90%;
    height: 170px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .redbutton,
  .redbutton-clicked {
    background-color: #8B2530;
    width: 5%;
    height: 180px;
    padding: 5px 0;
  }
  
  .greenbutton, 
  .greenbutton-clicked {
    background-color: #006729;
    width: 5%;
    height: 180px;
    padding: 5px 0;
  }
  
  .inactive-button {
    background-color: #808080;
    width: 10%;
    height: 100%;
    padding: 5px 0;
  }
}

.bubble-container-large,
.bubble-container-medium,
.bubble-container-small,
.bubble-container-x-small {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  
  .top-bubble,
  .bottom-bubble {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
  }
  
  .bubble-text,
  .bubble-button-text {
    font-family: Oswald, sans-serif;
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;
  }
  
  .bubble-button-text {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  
  .bubble-value,
  .bubble-text {
    margin: -4px 0;
  }
  
  .percent {
    font-size: 3rem;
  }
}

.bubble-container-large {
  
  .top-bubble,
  .bottom-bubble {
    height: 100px;
    width: 200px;
  }
  
  .top-bubble {
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
  }
  
  .bottom-bubble {
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
  }
  
  .bubble-value {
    font-size: 3.4rem;
    margin: -10px 0 -15px 0;
  }
}

.bubble-container-medium {

  .top-bubble,
  .bottom-bubble {
    height: 80px;
    width: 160px;
  }
  
  .top-bubble {
    border-top-left-radius: 160px;
    border-top-right-radius: 160px;
  }
  
  .bottom-bubble {
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
  }
  
  .bubble-value {
    font-size: 2.3rem;
  }
}

.bubble-container-small {

  .top-bubble,
  .bottom-bubble {
    height: 60px;
    width: 120px;
  }
  
  .top-bubble {
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
  }
  
  .bottom-bubble {
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
  }
  
  .bubble-value {
    font-size: 1.6rem;
  }
}

.bubble-container-x-small {
  
  .full-bubble {
    font-size: .9rem;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
}

//////COMPARE////

.compare-page {
  margin: 0 20px;
  
  .listedItem {
    margin-bottom: 15px;
    text-align: center;
    padding: 15px 10px;
    background-color: #f2f2f2;
  }
}

//COMPONENTS

//lines
.back-line {
  background-color: grey;
  width: 1px;
  height: 30px;
}

.side-line {
  position: fixed;
  top: 200px;
  z-index: -1;
  background-color: grey;
  height: 1px;
  width: 100%;
}

//Button
.bubble-button {
  -webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
  transition: box-shadow 0.3s ease-in-out;
  text-align: center;
  
  .bubble-button-text {
    color: #fff;
    text-align: center;
  }
}

.bubble-button:hover,
.bubble-button:focus,
.bubble-button:active {
  -webkit-box-shadow: inset 0px 7px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 7px 15px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 7px 15px 0px rgba(0,0,0,0.75);
}


//profile-links
.left-side-pic-link,
.right-side-pic-link {
  position: absolute;
  top: 155px;
  width: 50px;
  height: 63px;
  border-radius: 50%;
  background-color: grey;
  object-fit: cover;
  object-position: center right;
}

.left-side-pic-link,
.percent-low {
  left: 0;
  margin-left: 5px;
}

.right-side-pic-link,
.percent-high {
  right: 0;
  margin-right: 5px;
}

.percent-low,
.percent-high {
  position: absolute;
  top: 220px;
}

.percent-low {
  margin-left: 10px;
}

.percent-high {
  margin-right: 10px;
}

////ABOUT////

.aboutPage {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  
  p {
    font-family: Arimo, sans-serif;
    font-size: 0.9em;
  }
  a, .fa {
    color: #2D81CF;
  }
}


.dev .fa {
  font-size: 1.5em;
  margin: 0 4px;
}

.dev {
  margin: 20px 0px;
}

p.thankYou {
  text-align: center;
  padding: 20px;
  background-color: #eee;
  a {
    color: #2D81CF;
  }
}


//////SHARING////

.share {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 10px 0;
}

.shareButton {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.fa {
  color: black;
}

.fa-share-alt {
  opacity: 0.5;
}

.fa-share-alt:active  {
  opacity: 1;
}

.shareFooter {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: white;
  padding: 15px;
}

.footerExplanation {
  width: 100%;
  position: inherit;
}

.onlyFbTwShare {
  display: flex;
  width: 100%;
  justify-content: center;
  //margin: 0px 20px; //top and bottom 0px, left and right 20px
  
  .facebookButton {
    margin-right: 29px;
    margin-left: 11px;
    -webkit-transform: translateZ(0);
  }
  
  .twitterButton {
    margin-left: 30px;
    -webkit-transform: translateZ(0);
  }
  
  a {
    visibility: visible;
    display: flex;
  }
  
  a.hidden {
    /*visibility: hidden;*/
    display: none;
  }
}


//BOUNCE IN LEFT

.twitterButton {
  position: relative;
  visibility: visible;
  opacity: 1;
  
  -moz-animation-name: bounceInLeft;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
  -moz-animation-duration: 0.7s;
  
  -webkit-animation-name: bounceInLeft;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 0.7s;
  
  animation-name: bounceInLeft;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.7s;
}

@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  
  0% {
    opacity: 0;
    -webkit-transform: translate(-3000px, 0);
    transform: translate(-3000px, 0);
  }
  
  60% {
    opacity: 1;
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
  }
  
  75% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
  
  90% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  
  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  
  0% {
    opacity: 0;
    -webkit-transform: translate(-3000px, 0);
    transform: translate(-3000px, 0);
  }
  
  60% {
    opacity: 1;
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
  }
  
  75% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
  
  90% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  
  to {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}


//BOUNCE IN RIGHT

.facebookButton {
  position: relative;
  visibility: visible;
  opacity: 1;
  
  -moz-animation-name: bounceInRight;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-out;
  -moz-animation-duration: 0.7s;
  
  -webkit-animation-name: bounceInRight;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 0.7s;
  
  animation-name: bounceInRight;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.7s;
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  
  from {
    opacity: 0;
    -webkit-transform: translate(3000px, 0);
    transform: translate(3000px, 0);
  }
  
  60% {
    opacity: 1;
    -webkit-transform: translate(-25px, 0);
    transform: translate(-25px, 0);
  }
  
  75% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  
  90% {
    -webkit-transform: translate(-5px, 0);
    transform: translate(-5px, 0);
  }
  
  to {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}


////SINGLE BILL////
.bill-status {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  height: 40px;
  margin: 10px 0;
  
  .bill-status-box {
    display: flex;
    flex-grow: 1;
    width: 100%;
    flex-direction: column;

    div {
      width: 100%;
      text-align: center;
      flex-grow: 1;
    }
  }
}

.bill-info {
  
  p {
    margin: 5px 0;
  }
}

.box-wrap {
  min-height: 70px;
  font-family: Arimo;
  background-color: rgba(0,0,0,0.1);
  font-size: 1.2em;
}


.billandid, 
.petitionandid {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  
  span.billnumber, span.petitionnumber {
    font-weight: 200;
  }
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
  border-top: 1px solid #ccc;
  margin-bottom: 9%;
  
  .active {
    font-weight: 600;
  }
  
  a {
    font-weight: 200;
    font-size: 0.9em;
    text-decoration: none;
  }
  
  div {
    font-weight: 200;
  }
}

.inOneLine {
  display: flex;
  span {
    font-weight: 600;
  }
}


.petitionTabs {
  p {
    color: black;
    text-align: left;
    padding: 10px;
  }
  
  .active {
    background-color: rgba(0,0,0,0.1);
    color: black;
  }
  
  ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style: none;
  }
  
  li {
    font-family: Oswald, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    background: white;
    padding: 0px 10px;
    text-align: left;
    color: black;
    cursor: pointer;
  }
  
  li:hover, li:focus{
    background: rgba(0,0,0,0.1);
    color: black;
  }
  
  table {
    padding: 10px 10px;
    font-family: Arimo;
    font-size: 0.9em;
  }
  
  table td div {
    text-align: left !important;
    font-family: Arimo, sans-serif;
    font-size: 0.9em;
  }
  
  tr {
    font-size: 0.9em;
    font-family: Arimo, sans-serif;
  }
  
  td {
    display: block;
  }
  
  td:first-child, td:nth-child(2), td:nth-child(3), .change_bar_begin {
    display: none;
  }
  
  #billText {
    font-size: 0.9em;
  }
  
}

.voteCompare p {
  color: black;
  text-align: left;
  padding: 10px;
}

.box-wrap {
  min-height: 70px;
  font-family: Arimo;
  background-color: rgba(0,0,0,0.1);
}

/////DOUGHNUTS////

.petitionChartContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
}

.petitionVoteComparison {
  width: 50%;
}

canvas.petitionDoughnut {
  width: 50% !important;
  height: 50% !important;
  display: block;
  margin: 0 auto;
}

.billChartContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
}

.petitionYes {
  color: #006729
}

.petitionNo {
  color: #8B2530
}

.petitionGrey {
  color: #778899
}


////COMPARE, PETITIONS, FEED, STATS////
.statsMatch {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  
  img {
    width: 100px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }
  
  div {
    text-align: -webkit-center;
    flex: 1;
    padding: 0px 15px;
  }
  
  h2 {
    font-size: 0.9em;
  }
  
  p {
    font-size: 0.8em;
    margin: 0px;
  }
}

.petitionVotesComparison {
  width: 50%;
}

.actionButton {
    display: flex;
    justify-content: space around;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    margin-right: 0.4%;
    text-transform: uppercase;
    color: white;
    -webkit-box-shadow: 3px 6px 5px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 3px 6px 5px 2px rgba(0,0,0,0.1);
    box-shadow: 3px 6px 5px 2px rgba(0,0,0,0.1);
    border-radius: 0px 20px 0px 0px;
    
    a {
    color: white;
    border-radius: 0px 20px 0px 0px;
    padding: 10px 15px 8px 13px;
    border-right: 1px solid white;
    font-size: 0.9em;
    }

}

.color-result{
  display: flex;
  text-transform: uppercase;
}

.list {
  list-style: none;
  margin-bottom: 60px;
      
      ul, li {
      list-style: none;
      }
      
      b {
      text-transform: uppercase;
      font-weight: 600;
    }
}

.feedList {
  list-style: none;
  
  ul, li {
    list-style: none;
    margin-bottom: 20px;
  }
  
  h4 {
    font-family: Arimo, sans-serif;
    font-size: 0.8em;
    font-weight: 100;
    margin-bottom: 20px;
    list-style: none;
  }
  
  h2 {
    font-family: Oswald, sans-serif;
    font-size: 0.9em;
    font-weight: 400;
    list-style: none;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  
  a {
    color: #2D81CF;
  }
  p {
    margin-bottom: 10px;
  }
  p.noBottomPadding {
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-weight: 600;
  }
}


@media only screen and (max-width: 345px) {
  .billList {
    margin-bottom: 70px;
  }
}

///LOADING SPINNER////

.loading {
  overflow: hidden;
  background-color: #B095C4;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  position: fixed;
  opacity: .85;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;

  p {
    color: #fff;
    text-align: center;
    font-size: 1.3em;
  }
}

.loader {
  font-size: 10px;
  margin: 20px auto;
  text-indent: -9999em;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 46%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #B095C4;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


////MESSAGE////

.top-message {
  color:red;
  font-size: 0.8em;
  border-color: red;
  text-align: center;
  padding: 5px;
}

//if the user inputs an invalid postal code, this will change the input form
input[type=text].alert {
  font-family: Arimo, sans-serif;
  font-size: 0.8em;
  border-color: red;
}
