@import 'message';
@import 'materialize';
//import styles from 
@import 'home';

/* Global --------------------------------------------------------------- */

h1 {
    font-family: Oswald;
    font-size: 3em;
}

h2 {
    font-family: Oswald;
}