@import 'message';
@import 'reset';
//import styles from 
@import 'home';
@import 'bills';
@import 'bill';
@import 'petitions';
@import 'petition';
@import 'rep';
@import 'main';
@import 'login';
@import 'feed';
@import 'buttons';



/* Global --------------------------------------------------------------- */


body {
    margin: 0;
}

h1 {
      font-family: Oswald, sans-serif;
      font-weight: 400;
      font-size: 1.7em;
      text-align: center;
      margin-top: 25px;
      margin-bottom: 10px;
      text-transform: uppercase;
}

h2 {
    font-family: Oswald, sans-serif;
    font-weight: 200;
    text-transform: uppercase;
}


h3 {
    font-family: Oswald, sans-serif;
    font-weight: 800;
    font-size: 1.7em;
    text-align: center;
    color: black;
    text-transform: uppercase;
}


h4 {
    font-family: Arimo, sans-serif;
    font-size: 0.9em;
}

h5 {
  font-family: Arimo, sans-serif;
  font-size: 0.8em;
  color: black; 
  
}

p {
  font-family: Arimo, sans-serif;
  font-size: 0.9em;
  line-height: 1.4;
}



footer {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: white;
}

.navigation {
    list-style: none;
    text-decoration: none;
}

li {
  text-decoration: none;
}

ul {
  text-decoration: none;
}

a {
  text-decoration: none;
}


.hidden {
  visibility: hidden;
  opacity: 0;
}

.fa {
  color: black;
}



//BOUNCE IN LEFT

.twitterButton {
    position: relative;
    visibility: visible;
    opacity: 1;
    margin-left: 50px;
    
    -moz-animation-name: bounceInLeft;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 0.7s;

    -webkit-animation-name: bounceInLeft;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.7s;

    animation-name: bounceInLeft;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.7s;
}

@-webkit-keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}


//BOUNCE IN RIGHT

.facebookButton {
    position: relative;
    visibility: visible;
    opacity: 1;
    margin-right: 50px;

    -moz-animation-name: bounceInRight;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-duration: 0.7s;

    -webkit-animation-name: bounceInRight;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 0.7s;

    animation-name: bounceInRight;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 0.7s;
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

.fa-share-alt {
    opacity: 0.5;
}

.fa-share-alt:active  {
    opacity: 1;
}

